<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
    <!--<add name="SPC_MHEL" connectionString="Data Source=192.168.3.11,50133;Initial Catalog=SPC_MHEL;User ID=User113;Password=User11@3" providerName="System.Data.sqlClient"/>-->
      <add name="SPC_MHEL" connectionString="Data Source=103.25.126.208,50133;Initial Catalog=DEV_SPC_KDL;User ID=sa;Password=Bcsl@2025#" providerName="System.Data.sqlClient"/>
    <!--<add name="SPC_MHEL" connectionString="Data Source=192.168.3.12,50134;Initial Catalog=SPC_MHEL;User ID=User124;Password=User12@4" providerName="System.Data.sqlClient"/>-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>